/* Categories Section */
.categories {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color: #f0f4f7; /* Light background color */
    height: 50vh; /* 50% of the viewport height */
    width: 100vw;
}

.categories .container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 30px;
}

/* Category card styling */
.category-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
    transform: scale(1.05); /* Slight zoom on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.category-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding:5px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1rem; 
}